/* Container styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wholeDiv {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Set height to 100% of viewport height */
    background-image: url("../assets//g.jpeg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

/* Square container for topics */
.topics-container {
    max-width: 600px;
    padding: 20px;
    border: 2px solid #bbb;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title styles */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Topics container styles */
.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Button (topic) styles */
.topics button {
    padding: 8px 16px;
    border: 2px solid transparent; /* Default transparent border */
    border-radius: 15px;
    /* background-color: #ddd; */
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.topics button:hover {
    background-color: #dbd8d8;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.topics button:active {
    transform: translateY(1px);
    box-shadow: none;
}

/* Selected topic styles */
.selected {
    background-color: #3c9aff;
    color: white;
    border-color: #007bff; /* Blue border for selected */
}
.unselected {
    background-color: #ededed;
    color: white;
    border-color: #007bff; /* Blue border for selected */
}

@media (max-width: 768px) {
    .topics-container {
        width: 90%;
        padding: 20px;
    }
}
    

.TOI-form {
    background-color: rgb(241, 241, 241);
    padding: 20px 25px;
    border-radius: 20px;
}

.row-form {
    display: flex;
}

#submitDiv {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

#submit {
    /* Additional styles for the button */
    width: 175px; /* Adjust width as needed */
    padding: 10px; /* Adjust padding as needed */
    border: none;
    border-radius: 20px; /* Round edges */
    background-color: #007bff; /* Green background */
    color: white; /* White text color */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}


#prompt {
    background-color: white;
    height: 1em;
}