

<div class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/">Home</a></li>
        <li class="navbar-item"><a href="/"> name</a></li>
        <!-- Add more navbar items as needed -->
        {{#if isLoggedIn}} 
        <li class="navbar-item">{{>userdropdown}}</li> 
        {{else}}
        <li class="navbar-item"><a href="/login">Login</a></li>
    {{/if}}
        <div class="navbar-marker"></div>
    </ul>
</div>
